<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
	<mapper namespace="kr.co.book.admin.dao.AdminNoticeDAO">
	 	
	 	<insert id="noticewrite" parameterType="hashmap">
	 		INSERT INTO notice(member_idx, notice_title, notice_content, notice_hit,notice_blind)
	 		VALUES(#{member_idx},#{notice_title},#{notice_content},0,0)
	 	</insert>
	 	
	 	<update id="noticeupdate" parameterType="hashmap">
	 		UPDATE notice SET notice_title = #{notice_title}, notice_content = #{notice_content}
	 		WHERE notice_idx = #{notice_idx}
	 	</update>
	 	
	 	<update id="noticedel">
	 		UPDATE notice SET notice_blind = 1
	 		WHERE notice_idx = #{notice_idx} 	 	
	 	</update>
	 	
	</mapper>