<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.book.mypage.dao.ActivitiesDAO">

	<select id="totalChangeList" resultType="int">
		SELECT
		    (SELECT count(change_idx) FROM `change` WHERE member_idx = #{loginIdx}) +
		    (SELECT count(change_idx) FROM `change` WHERE library_book IN (SELECT library_idx FROM `library` WHERE member_idx = #{loginIdx})) 
		   AS total_count;
	</select>
	
	<select id="changeList" resultType="hashMap">
		(SELECT
		    m1.member_nickname AS my_nickName,
		    m2.member_nickname AS changer,
		    c.change_state,
		    l1.library_cover AS changeBook_cover,
		    l1.library_title AS changeBook,
		    l2.library_cover AS myBook_cover,
		    l2.library_title AS myBook,
		    c.change_date,
		    (select count(review_idx) from review where review_transaction_type = '대여' and review_tracnsaction_idx = c.change_idx) as reviewChk
		FROM `change` c
			JOIN `member` m1 ON m1.member_idx = #{loginIdx}
			JOIN `library` l1 ON l1.library_idx = c.library_book
			JOIN `library` l2 ON l2.library_idx = c.library_book2
			JOIN `member` m2 ON m2.member_idx = (SELECT l.member_idx FROM `library` l WHERE l.library_idx = c.library_book)
				WHERE c.member_idx = #{loginIdx})
		UNION
		(SELECT
		    m1.member_nickname AS my_nickName,
		    m2.member_nickname AS changer,
		    c.change_state,
		    l2.library_cover AS changeBook_cover,
		    l2.library_title AS changeBook,
		    l1.library_cover AS myBook_cover,
		    l1.library_title AS myBook,
		    c.change_date,
		    (select count(review_idx) from review where review_transaction_type = '대여' and review_tracnsaction_idx = c.change_idx) as reviewChk
		FROM `change` c
			INNER JOIN `library` l1 ON c.library_book = l1.library_idx
			INNER JOIN `library` l2 ON c.library_book2 = l2.library_idx
			INNER JOIN `member` m1 ON m1.member_idx = l1.member_idx
			INNER JOIN `member` m2 ON m2.member_idx = c.member_idx
				WHERE c.library_book IN (SELECT l.library_idx FROM `library` l WHERE l.member_idx = #{loginIdx}))
				ORDER BY change_state ASC LIMIT 5 OFFSET #{offset};
	</select>






</mapper>