<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
	<mapper namespace="kr.co.book.alarm.dao.AlarmDAO">
	
		<select id="alarmList" resultType="alarm">
			SELECT code_idx, idx, alarm_content, alarm_check, alarm_date FROM alarm
			WHERE member_idx = #{member_idx} 
			ORDER BY alarm_idx DESC
		</select>
		
		<update id="alarmCheck">
			UPDATE alarm SET alarm_Check = true, alarm_checkdate = now()
			WHERE member_idx = #{member_idx}
		</update>
		
	 	
	</mapper>