<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
	<mapper namespace="kr.co.book.chat.dao.ChatDAO">
	
		<!-- 대화중인 대화 방 -->
		<select id="message_list" parameterType="chat" resultType="chat">
			SELECT DISTINCT CHAT_IDX, CODE_IDX, IDX, CHAT_SENDER, CHAT_RECIEVER,
			CHAT_CHAT, CHAT_CHECK, CHAT_DATE FROM CHAT WHERE CODE_IDX IN (SELECT CODE_IDX FROM CHAT_ROOM
			WHERE MEMBER_IDX = #{MEMBER_IDX} AND CHAT_ROOM_STATE = 0) AND IDX IN (SELECT IDX FROM CHAT_ROOM
			WHERE MEMBER_IDX = #{MEMBER_IDX} AND CHAT_ROOM_STATE = 0) AND CHAT_IDX IN (SELECT MAX(CHAT_IDX) FROM CHAT GROUP BY IDX) 
			ORDER BY CHAT_IDX DESC;
		</select>
		
		<!-- 대화 방에 대한 안읽은 메세지의 갯수 -->
		<select id="count_unread" parameterType="chat" resultType="Int">		  
		    SELECT COUNT(CHAT_IDX) FROM CHAT
		    WHERE CHAT_RECIEVER = #{MEMBER_IDX} AND CODE_IDX=#{CODE_IDX} AND IDX=#{IDX} AND CHAT_CHECK = 0 
		</select>
		
		<!-- 교환 신청한 책 IDX -->
		<select id="chgbookidx" resultType="string">
			SELECT LIBRARY_BOOK FROM `CHANGE`
			WHERE CHANGE_IDX = #{param1}
		</select>
		
		<!-- 교환 신청한 유저 IDX -->
		<select id="chgapplyuser" resultType="string">	
			SELECT MEMBER_IDX FROM `CHANGE`
			WHERE CHANGE_IDX = #{param1}
		</select>
		
		<!-- 대여 신청한 책 IDX -->
		<select id="rentbookidx" resultType="string">
			SELECT LIBRARY_IDX FROM RENT
			WHERE RENT_IDX = #{param1}
		</select>
		
		<!-- 대여 신청한 유저 IDX -->
		<select id="rentapplyuser" resultType="string">	
			SELECT MEMBER_IDX FROM RENT
			WHERE RENT_IDX = #{param1}
		</select>
		
		<!-- 대화 내역 -->
		<select id="room_content_list" parameterType="chat" resultType="chat">
			select CHAT_IDX, CODE_IDX, IDX, CHAT_SENDER, CHAT_RECIEVER, CHAT_CHAT, CHAT_CHECK, CHAT_DATE from CHAT 
			where CODE_IDX = #{CODE_IDX} and IDX = #{IDX} 
			order by CHAT_DATE; 			
		</select>
		
		<!-- 대화 방의 메세지 읽음 처리 -->		
		<update id="message_read_chk" parameterType="chat">
		    UPDATE CHAT SET CHAT_CHECK = 1, CHAT_CHECKDATE = now()
		    WHERE CODE_IDX = #{CODE_IDX} AND IDX = #{IDX} AND CHAT_RECIEVER = #{MEMBER_IDX} AND CHAT_CHECK = 0	
		</update>
		
		<!-- 대화방 참여자 IDX -->
		<select id="chatuserIDX" resultType="hashmap">
			SELECT member_idx FROM chat_room
			WHERE code_idx = #{param1} AND idx = #{param2} AND chat_room_state = 0
		</select>
		
		<!-- 전송 메세지 저장 -->
		<insert id="messageSendInlist" >
		    INSERT INTO CHAT(CODE_IDX,IDX,CHAT_SENDER,CHAT_RECIEVER,CHAT_CHAT,CHAT_CHECK,CHAT_DATE) 
		    VALUES(#{param1},#{param2},#{param3},#{param4},#{param5},0,now())
		</insert>
		
		<!-- 전송 사진 저장 -->
		<insert id="fileWrite">
			INSERT INTO PHOTO(CODE_IDX, IDX, MEMBER_IDX, PHOTO_ORINAME, PHOTO_NEWNAME, PHOTO_BLIND)
			VALUES(#{param1},#{param2},#{param3},#{param4},#{param5},0);
		</insert>
		
		<!-- 대화 방의 책 -->
		<select id="message_librarydetail" resultType="hashmap">
			SELECT LIBRARY_TITLE, LIBRARY_COVER, LIBRARY_INFO, LIBRARY_SHARESTATE FROM LIBRARY
			WHERE LIBRARY_IDX = #{param1} AND LIBRARY_BLIND = 0
		</select>
		
		<!-- 대화 방의 책 상태 -->
		<select id="librarystate" resultType="object">
			SELECT LIBRARY_SHARESTATE FROM LIBRARY
			WHERE LIBRARY_IDX = #{param1} AND LIBRARY_BLIND = 0
		</select>
		
		<!-- 다른사람과 교환 상태 -->
		<select id="otherchangeck" resultType="int">
			SELECT COUNT(CHANGE_IDX) FROM `CHANGE`
			WHERE CHANGE_IDX = #{param1} AND CHANGE_STATE IN (1,2)
		</select>
		
		<!-- 나랑 교환 상태 -->
		<select id="changestate" resultType="object">
			SELECT CHANGE_STATE FROM `CHANGE`
			WHERE CHANGE_IDX = #{param1} 
		</select>
		
		<!-- 다른사람과 대여 상태 -->		
		<select id="otherrentck" resultType="int">
			SELECT COUNT(RENT_IDX) FROM RENT
			WHERE RENT_IDX = #{param1} AND RENT_STATE IN (1,2,3)
		</select>
		
		<!-- 나랑 대여 상태 -->
		<select id="rentstate" resultType="object">
			SELECT RENT_STATE FROM RENT
			WHERE RENT_IDX = #{param1}
		</select>
		
		<!-- 교환 예약 수락 -->
		<update id="finalchangeok">
			UPDATE `CHANGE` SET CHANGE_STATE = 2, MOD_MEMBER_IDX = #{param2}
			WHERE CHANGE_IDX = #{param1}
		</update>
		
		<!-- 들고있는 보증금 들고오기 -->
		<select id="userdeposit" resultType="int">
      		SELECT COALESCE(SUM(deposit_use_price), 0) FROM deposit_use WHERE member_idx=#{param1}
   		</select>
   		
		<!-- 예약 걸린 보증금 들고오기 -->
   		<select id="rentdeposit" resultType="int">
   			SELECT RENT_DEPOSIT FROM RENT
   			WHERE RENT_IDX = #{param1}   		
   		</select>
   		
		<!-- 대여 보증금 사용 -->
   		<insert id="usedeposit">
   			INSERT INTO DEPOSIT(MEMBER_IDX, DEPOSIT_TYPE, DEPOSIT_METHOD, DEPOSIT_INFO, DEPOSIT_PRICE, DEPOSIT_STATE)
   			VALUES(#{param1}, '출금', '대여', '대여',#{param2},1)
   		</insert>
   		
   		<!-- 대여 예약 수락 -->
		<update id="finalrentok">
			UPDATE RENT SET RENT_STATE = 2, MOD_MEMBER_IDX = #{param2}
			WHERE RENT_IDX = #{param1}
		</update>
		
		<!-- 대여 책 상태 변경 -->
		<update id="finalbookok">
			UPDATE LIBRARY SET LIBRARY_SHARESTATE = 1
			WHERE LIBRARY_IDX = #{param1}
		</update>
		
		<!-- 교환 예약 취소 -->
   		<update id="changereservationno">
			UPDATE `CHANGE` SET CHANGE_STATE = 0, MOD_MEMBER_IDX = #{param2}
			WHERE CHANGE_IDX = #{param1}
		</update>
		
		<!-- 대여 예약 취소 -->
		<update id="rentreservationno">
			UPDATE RENT SET RENT_STATE = 0, MOD_MEMBER_IDX = #{param2}
			WHERE RENT_IDX = #{param1}
		</update>
		
		<!-- 책 상태 되돌리기 -->
		<update id="finalbookno">
			UPDATE LIBRARY SET LIBRARY_SHARESTATE = 0
			WHERE LIBRARY_IDX = #{param1}
		</update>
		
		<!-- 현재 교환상태 확인 -->
		<select id="chkchgroomstate" resultType="int">
			SELECT CHANGE_STATE FROM `CHANGE`
			WHERE CHANGE_IDX = #{param1} 
		</select>
		
		<!-- 현재 대여상태 확인 -->
		<select id="chkrentroomstate" resultType="int">
			SELECT RENT_STATE FROM RENT
			WHERE RENT_IDX = #{param1} 
		</select>
		
		<!-- 대화방 나가기 -->
		<update id="chatout">
			UPDATE CHAT_ROOM SET CHAT_ROOM_STATE = 1, MOD_MEMBER_IDX = #{param3}, MOD_DATE = now()
			WHERE CODE_IDX = #{param1} AND MEMBER_IDX = #{param3} AND IDX = #{param2}	
		</update> 
		
		<!-- 모임 생성시 모임 메세지방 생성 -->
		<insert id="createchatroom">
			INSERT INTO CHAT_ROOM(CODE_IDX,MEMBER_IDX,IDX,CHAT_ROOM_STATE)
			VALUES(4,#{param2},#{param1},0)
		</insert>
		
		<!-- 모임 채팅방 생성 됐다는 메세지 -->
		<insert id="createchat">
			INSERT INTO CHAT(CODE_IDX,IDX,CHAT_SENDER,CHAT_CHAT,CHAT_CHECK)
			VALUES(4,#{param1},#{param2},#{param3},0)
		</insert>
		
		<!-- 모임 참여자 IDX -->
		<select id="findclubmember" resultType="hashmap">
			SELECT member_idx FROM club_apply	
			WHERE club_idx = #{param1} AND club_appstate = 1
		</select>
		
		<!-- 모임 참여자에게 메세지 전송 -->
		<insert id="sendclubmembermessage">
			INSERT INTO chat(code_idx, idx, chat_sender, chat_reciever, chat_chat, chat_check)
			VALUES(4,#{param1},#{param2},#{param3},#{param4},0)
		</insert>
		
		<!-- 모임 채팅 모두 나가기 -->
		<update id="clubchatDelete">
			UPDATE chat_room SET chat_room_state = 1
			WHERE code_idx = #{param1} AND idx = #{param2}
		</update>
		

		
		
		
		
		
		
		
		
		
		
   		
   		
		
		
		
		
		
		
		
		
		
		
		
		
						
		 
	</mapper>