<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.book.club.dao.ClubDAO">
	
	<select id="totalClubList" resultType="int">
		SELECT COUNT(c.club_idx) FROM club c WHERE c.club_blind = 0
		
	</select>
	
	<select id="clubList" resultType="club">
		SELECT c.club_idx ,c.member_idx,m.member_nickname,COUNT(ca.member_idx) meet_num ,c.isbn, b.title, b.cover ,c.club_name,c.club_meetdate,co.code_codename ,c.club_onoff,c.club_num,c.club_blind,c.club_state 
		FROM club c 
		JOIN `member` m ON c.member_idx=m.member_idx 
		JOIN code co ON c.code_idx = co.code_idx 
		JOIN book b ON c.isbn =b.isbn 
		JOIN club_apply ca ON c.club_idx = ca.club_idx AND ca.club_appstate =1
		WHERE c.club_blind = 0
		GROUP BY c.club_idx
		ORDER BY c.club_idx DESC LIMIT 5 OFFSET #{param1}
	</select>
	
	<select id="totalClubListSearch" resultType="int">
		SELECT COUNT(c.club_idx) FROM club c JOIN book b ON c.isbn =b.isbn
		WHERE c.club_blind = 0 AND ((c.club_name LIKE CONCAT('%' #{searchText} '%')) OR (b.title LIKE CONCAT('%' #{searchText} '%')))
		
	</select>
	
	<select id="clubListSearch" resultType="club">
		SELECT c.club_idx ,c.member_idx,m.member_nickname,COUNT(ca.member_idx) meet_num ,c.isbn, b.title, b.cover ,c.club_name,c.club_meetdate,co.code_codename ,c.club_onoff,c.club_num,c.club_blind,c.club_state 
		FROM club c 
		JOIN `member` m ON c.member_idx=m.member_idx 
		JOIN code co ON c.code_idx = co.code_idx 
		JOIN book b ON c.isbn =b.isbn 
		JOIN club_apply ca ON c.club_idx = ca.club_idx AND ca.club_appstate =1
		WHERE c.club_blind = 0 AND ((c.club_name LIKE CONCAT('%' #{searchText} '%')) OR (b.title LIKE CONCAT('%' #{searchText} '%')))
		GROUP BY c.club_idx
		ORDER BY c.club_idx DESC LIMIT 5 OFFSET #{param1}
	</select>
	
	<select id="clubDetail" resultType="club">
		SELECT c.club_idx ,c.member_idx,m.member_nickname,COUNT(ca.member_idx) meet_num ,c.isbn, b.title, b.cover ,c.club_name,c.club_content, c.club_meetdate,co.code_codename ,c.club_onoff,c.club_num,c.club_blind,c.club_state 
		FROM club c 
		JOIN `member` m ON c.member_idx=m.member_idx 
		JOIN code co ON c.code_idx = co.code_idx 
		JOIN book b ON c.isbn =b.isbn 
		JOIN club_apply ca ON c.club_idx = ca.club_idx AND ca.club_appstate =1
		WHERE c.club_blind = 0 AND c.club_idx = #{param1}
	</select>
	
	<select id="clubMember" resultType="club">
		SELECT m.member_nickname  
		FROM club_apply ca 
		JOIN `member` m ON m.member_idx = ca.member_idx 
		WHERE ca.club_idx =#{param1} AND ca.club_appstate=1
		ORDER BY ca.club_appdate ASC
	</select>
	
	<select id="applyMember" resultType="club">
		SELECT m.member_nickname , m.member_idx
		FROM club_apply ca 
		JOIN `member` m ON m.member_idx = ca.member_idx 
		WHERE ca.club_idx =#{param1} AND ca.club_appstate=0
		ORDER BY ca.club_appdate ASC
	</select>
	
	<insert id="clubApply">
		INSERT INTO club_apply(club_idx,member_idx,club_appstate) VALUES(#{param1},#{param2},'0')
	</insert>
	
	<update id="applyAccept">
		UPDATE club_apply SET club_appstate='1' WHERE club_idx=#{param1} AND member_idx=#{param2} 
	</update>
	
	<delete id="applyReject">
		DELETE FROM club_apply WHERE club_idx=#{param1} AND member_idx=#{param2}
	</delete>
	
	<select id="locationCode" resultType="club">
		SELECT code_idx,code_codename FROM code WHERE code_upcode='region' AND (code_codename != '비대면')
	</select>
	
	<insert useGeneratedKeys="true"
		keyColumn="club_idx"
		keyProperty="club_idx"
		id="clubWrite" parameterType="club">
		INSERT INTO club(member_idx, isbn, club_name, club_content,club_meetdate, code_idx, club_onoff, club_num, club_blind, club_state)
		VALUES(#{member_idx}, #{isbn}, #{club_name}, #{club_content}, #{club_meetdate}, #{code_idx}, #{club_onoff}, #{club_num}, 0, 0)
	</insert>	
	
	<insert id="clubJoin">
		INSERT INTO club_apply(club_idx, member_idx, club_appdate, club_appstate) VALUES(#{param1}, #{param2}, current_timestamp(),1);
	</insert>
		
	
</mapper>