<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.book.event.dao.EventDAO">
   <!-- 	   
   <insert id="eventWrite" parameterType="kr.co.book.event.dto.EventDAO">
      INSERT INTO event(event_title, member_idx, event_content, event_startdate, event_enddate, event_cnt, event_hit, event_blind)
         VALUES(#{event_title},#{member_idx},#{event_content},#{event_startdate},#{event_enddate},#{event_cnt},0,#event_blind})
   </insert>
	
   <select id="evlist" resultType="event">
	SELECT * FROM event ORDER BY event_idx DESC LIMIT #{param1} OFFSET #{param2}
   </select>

   <select id="totalCount" resultType="int">
	SELECT COUNT(event_idx) FROM event 
	</select>
	
   <select id="eventSearch" resultType="event">
      SELECT
         *
      FROM event WHERE event_title LIKE CONCAT('%' #{search} '%')
   </select>         
      
   <select id="etotalCountSearch" resultType="int">
      SELECT COUNT(event_idx) FROM event
         WHERE event_title LIKE CONCAT('%' #{param1} '%')
   </select>	
    -->	
</mapper>