<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.book.mypage.dao.LibraryDAO">
	
	<select id="list" resultType="library">
		SELECT LIBRARY_TITLE,LIBRARY_COVER,LIBRARY_AUTHOR,LIBRARY_PUBLISHER,LIBRARY_SHARESTATE FROM LIBRARY WHERE MEMBER_IDX=1 ORDER BY LIBRARY_REG_DATE DESC
	</select>


	<insert id="write" parameterType="hashmap">
		
		INSERT INTO library(MEMBER_IDX,LIBRARY_ISBN,LIBRARY_TITLE,LIBRARY_COVER,LIBRARY_AUTHOR,LIBRARY_PRICE,LIBRARY_PUBLISHER,LIBRARY_DESCRIPTION,LIBRARY_PUBDATE,LIBRARY_INFO,LIBRARY_USE,LIBRARY_SHARESTATE,LIBRARY_BLIND,LIBRARY_REG_DATE) 
		VALUES(#{MEMBER_IDX},#{LIBRARY_ISBN},#{LIBRARY_TITLE},#{LIBRARY_COVER},#{LIBRARY_AUTHOR},#{LIBRARY_PRICE},#{LIBRARY_PUBLISHER},#{LIBRARY_DESCRIPTION},#{LIBRARY_PUBDATE},#{LIBRARY_INFO},#{LIBRARY_USE},0,0,now());
		
	</insert>

	<select id="bookChk" resultType="Integer">
		SELECT COUNT(MEMBER_IDX) FROM library WHERE MEMBER_IDX=1 and LIBRARY_ISBN =#{param2}; 
	</select>
</mapper>