<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.book.mypage.dao.LibraryDAO">
		 
	<select id="totalLibraryList" resultType="int">
		SELECT COUNT(library_idx) FROM library 
		<where>
			<if test="param2.equals('')">
				member_idx=#{param1} AND library_sharestate=0 AND library_blind=0 ORDER BY library_reg_date DESC
			</if>
			<if test="param2.equals('Rent')">
				member_idx=#{param1} AND library_sharestate=0 AND library_blind=0 AND library_use IN('대여교환', '대여') ORDER BY library_reg_date DESC
			</if>
			<if test="param2.equals('Change')">
				member_idx=#{param1} AND library_sharestate=0 AND library_blind=0 AND library_use IN('대여교환', '교환')  ORDER BY library_reg_date DESC
			</if>
			<if test="param2.equals('Own')">
				member_idx=#{param1} AND library_sharestate=0 AND library_blind=0 AND library_use = '소장' ORDER BY library_reg_date DESC
			</if>
			<if test="param2.equals('Wish')">
				member_idx=#{param1} AND library_sharestate=0 AND library_blind=0 AND library_use = '위시' ORDER BY library_reg_date DESC
			</if>
			<if test="param2.equals('Lending')">
				member_idx=#{param1} AND library_sharestate=1 AND library_blind=0 ORDER BY library_reg_date DESC
			</if>
		</where>
	</select>
	
	<select id="libraryList" resultType="library">
		SELECT library_idx, library_title,library_cover,library_author,library_publisher,library_sharestate,library_use FROM library 
		<where>
			<if test="param3.equals('')">
				member_idx=#{param1} AND library_sharestate=0 AND library_blind=0 AND library_sharestate=0 ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{param2}
			</if>
			<if test="param3.equals('Rent')">
				member_idx=#{param1} AND library_sharestate=0 AND library_blind=0 AND library_use IN('대여교환', '대여') ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{param2}
			</if>
			<if test="param3.equals('Change')">
				member_idx=#{param1} AND library_sharestate=0 AND library_blind=0 AND library_use IN('대여교환', '교환') ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{param2}
			</if>
			<if test="param3.equals('Own')">
				member_idx=#{param1} AND library_sharestate=0 AND library_blind=0 AND library_use='소장' ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{param2}
			</if>
			<if test="param3.equals('Wish')">
				member_idx=#{param1} AND library_sharestate=0 AND library_blind=0 AND library_use='위시' ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{param2}
			</if>
			<if test="param3.equals('Lending')">
				member_idx=#{param1} AND library_sharestate=1 AND library_blind=0 ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{param2}
			</if>
		</where>
	</select>
	
	<select id="totalLibrarySearchList" resultType="int">
		SELECT COUNT(library_idx) FROM library 
		<where>
			<if test="type.equals('')">
				member_idx=#{member_idx} AND library_sharestate=0 AND library_blind=0 AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC
			</if>
			<if test="type.equals('Rent')">
				member_idx=#{member_idx} AND library_sharestate=0 AND library_blind=0 AND library_use IN('대여교환', '대여') AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC
			</if>
			<if test="type.equals('Change')">
				member_idx=#{member_idx} AND library_sharestate=0 AND library_blind=0 AND library_use IN('대여교환', '교환') AND (library_title LIKE CONCAT('%' #{searchText} '%'))  ORDER BY library_reg_date DESC
			</if>
			<if test="type.equals('Own')">
				member_idx=#{member_idx} AND library_sharestate=0 AND library_blind=0 AND library_use = '소장' AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC
			</if>
			<if test="type.equals('Wish')">
				member_idx=#{member_idx} AND library_sharestate=0 AND library_blind=0 AND library_use = '위시' AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC
			</if>
			<if test="type.equals('Lending')">
				member_idx=#{member_idx} AND library_sharestate=1 AND library_blind=0 AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC
			</if>
		</where>
	</select>
	
	<select id="librarySearchList" parameterType="hashmap" resultType="library">
		SELECT library_idx, library_title,library_cover,library_author,library_publisher,library_sharestate,library_use FROM library 
		<where>
			<if test="type.equals('')">
				member_idx=#{member_idx} AND library_sharestate=0 AND library_blind=0 AND library_sharestate=0 AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{offset}
			</if>
			<if test="type.equals('Rent')">
				member_idx=#{member_idx} AND library_sharestate=0 AND library_blind=0 AND library_use IN('대여교환', '대여') AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{offset}
			</if>
			<if test="type.equals('Change')">
				member_idx=#{member_idx} AND library_sharestate=0 AND library_blind=0 AND library_use IN('대여교환', '교환') AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{offset}
			</if>
			<if test="type.equals('Own')">
				member_idx=#{member_idx} AND library_sharestate=0 AND library_blind=0 AND library_use='소장' AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{offset}
			</if>
			<if test="type.equals('Wish')">
				member_idx=#{member_idx} AND library_sharestate=0 AND library_blind=0 AND library_use='위시' AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{offset}
			</if>
			<if test="type.equals('Lending')">
				member_idx=#{member_idx} AND library_sharestate=1 AND library_blind=0 AND (library_title LIKE CONCAT('%' #{searchText} '%')) ORDER BY library_reg_date DESC LIMIT 9 OFFSET #{offset}
			</if>
		</where>
	</select>
	
	
	<insert id="write" parameterType="hashmap">
		
		INSERT INTO library(member_idx,library_isbn,library_title,library_cover,library_author,library_price,library_publisher,library_description,library_pubdate,library_info,library_use,library_sharestate,library_blind,library_reg_date) 
		VALUES(#{member_idx},#{library_isbn},#{library_title},#{library_cover},#{library_author},#{library_price},#{library_publisher},#{library_description},#{library_pubdate},#{library_info},#{library_use},0,0,now());
		
	</insert>
	
	
	<insert id="wishRegist" parameterType="hashmap">
		
		INSERT INTO library(member_idx,library_isbn,library_title,library_cover,library_author,library_price,library_publisher,library_description,library_pubdate,library_use,library_sharestate,library_blind,library_reg_date) 
		VALUES(#{member_idx},#{library_isbn},#{library_title},#{library_cover},#{library_author},#{library_price},#{library_publisher},#{library_description},#{library_pubdate},'위시',0,0,now());
		
	</insert>

	<select id="bookChk" resultType="Integer">
		SELECT COUNT(member_idx) FROM library WHERE member_idx=#{param2} and library_blind = 0 AND library_use NOT IN ('위시') AND library_isbn =#{param1} 
	</select>
	
	<select id="wishChk" resultType="Integer">
		SELECT COUNT(member_idx) FROM library WHERE member_idx=#{param2} and library_blind = 0 AND library_use='위시' AND library_isbn =#{param1} 
	</select>
	
	<select id="detail" resultType="library">
		SELECT * FROM library WHERE library_idx=#{library_idx}
	</select>
	
	<update id="libraryDelete">
		UPDATE library SET library_blind=1 WHERE library_idx = #{param1}
	</update>
	
	<update id="libraryWishDelete">
		UPDATE library SET library_blind=1 WHERE library_isbn = #{param1} AND member_idx=#{param2}
	</update>
	
	<update id="libraryUpdate" parameterType="hashmap">
		UPDATE library SET library_use=#{library_use}, library_INFO=#{library_info} WHERE  library_idx = #{library_idx}
	</update>
	
	<!-- int deleteLibrary(String library_idx,member_idx); -->
	<update id="deleteLibrary">
		UPDATE library SET library_blind=1 WHERE  library_idx = #{param1} AND member_idx=#{param2}
	</update>
	
	<!-- ArrayList<HashMap<String, String>> reviewList(String library_idx); -->
	<select id="reviewList" resultType="hashmap">
		SELECT r.sender_idx,m.member_nickname , r.review_content, r.review_date 
		FROM review r 
		JOIN `member` m ON r.sender_idx = m.member_idx 
		WHERE r.review_type ="도서" AND r.reciever_idx =#{param1}
		ORDER BY review_date DESC LIMIT 5
	</select>
</mapper>