<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.book.mypage.dao.LibraryDAO">
	
	<select id="totalLibraryList" resultType="int">
		SELECT COUNT(LIBRARY_IDX) FROM LIBRARY WHERE MEMBER_IDX=1 AND LIBRARY_BLIND=0 ORDER BY LIBRARY_REG_DATE DESC
	</select>
	 	
	<select id="libraryList" resultType="library">
		SELECT LIBRARY_IDX, LIBRARY_TITLE,LIBRARY_COVER,LIBRARY_AUTHOR,LIBRARY_PUBLISHER,LIBRARY_SHARESTATE,LIBRARY_USE FROM LIBRARY WHERE MEMBER_IDX=1 AND LIBRARY_BLIND=0 ORDER BY LIBRARY_REG_DATE DESC LIMIT 9 OFFSET #{offset}
	</select>

	<insert id="write" parameterType="hashmap">
		
		INSERT INTO library(MEMBER_IDX,LIBRARY_ISBN,LIBRARY_TITLE,LIBRARY_COVER,LIBRARY_AUTHOR,LIBRARY_PRICE,LIBRARY_PUBLISHER,LIBRARY_DESCRIPTION,LIBRARY_PUBDATE,LIBRARY_INFO,LIBRARY_USE,LIBRARY_SHARESTATE,LIBRARY_BLIND,LIBRARY_REG_DATE) 
		VALUES(#{MEMBER_IDX},#{LIBRARY_ISBN},#{LIBRARY_TITLE},#{LIBRARY_COVER},#{LIBRARY_AUTHOR},#{LIBRARY_PRICE},#{LIBRARY_PUBLISHER},#{LIBRARY_DESCRIPTION},#{LIBRARY_PUBDATE},#{LIBRARY_INFO},#{LIBRARY_USE},0,0,now());
		
	</insert>

	<select id="bookChk" resultType="Integer">
		SELECT COUNT(MEMBER_IDX) FROM library WHERE MEMBER_IDX=1 and LIBRARY_BLIND = 0 AND LIBRARY_USE NOT IN ('위시') AND LIBRARY_ISBN =#{param1} 
	</select>
	
	
	
	<select id="wishChk" resultType="Integer">
		SELECT COUNT(MEMBER_IDX) FROM library WHERE MEMBER_IDX=1 and LIBRARY_BLIND = 0 AND LIBRARY_USE='위시' AND LIBRARY_ISBN =#{param1} 
	</select>
	
	<select id="detail" resultType="library">
		SELECT * FROM library WHERE LIBRARY_IDX=#{LIBRARY_IDX}
	</select>
	
	<update id="libraryDelete">
		UPDATE library SET LIBRARY_BLIND=1 WHERE LIBRARY_IDX = #{param1}
	</update>
	
	<update id="libraryUpdate" parameterType="hashmap">
		UPDATE library SET LIBRARY_USE=#{LIBRARY_USE}, LIBRARY_INFO=#{LIBRARY_INFO} WHERE  LIBRARY_IDX = #{LIBRARY_IDX}
	</update>
	
</mapper>