<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.book.member.dao.MemberDAO">
	
	<select id="login" resultType="kr.co.book.member.dto.MemberDTO">
	    SELECT * FROM member WHERE member_email = #{member_email}
	</select>
	
	<insert id="join">
    INSERT INTO member(code_idx, member_email, member_pw, member_nickname, member_state, member_grade, member_level,
    reg_member_idx, reg_screen, mod_member_idx, mod_screen)
    VALUES(#{code_idx},#{member_email}, #{member_pw}, #{member_nickname}, '정상', 0, 1,
    #{reg_member_idx}, #{reg_screen}, #{mod_member_idx}, #{mod_screen})
	</insert>

	<select id="emailOverCheck">
		SELECT count(member_idx) from member where member_email = #{member_emil}
	</select>
	
	<select id="overlaynickname" resultType="int">
		SELECT COUNT(member_nickname) FROM member
			WHERE member_nickname = #{param1}
	</select>
	
	<select id="findLocationCode" resultType="int">
		SELECT code_code FROM code WHERE code_codename = #{param1}
	</select>
	
	<select id="findmemberpw" resultType="int">
		SELECT COUNT(member_email) FROM member WHERE
		member_email = #{param1} AND member_nickname = #{param2} AND member_state = '정상'
	</select>
	
	<update id="RandomPassword">
		UPDATE member SET member_pw = #{param3} WHERE 
		member_email = #{member_email} AND member_nickname = #{param2}
	</update>	
	
	<select id="getMemberInfo" resultType="hashMap">
		SELECT 
			m.code_idx,
			member_email,
			member_nickname,
			(SELECT code_codename FROM code WHERE code_upcode = 'region' AND code_code = m.code_idx) AS region
		FROM member m
			WHERE member_idx = #{param}
	</select>
	
	<update id="memberInfoUpdate">
		UPDATE 
			member 
		SET member_nickname = #{nickname}, code_idx = #{code_idx} 
			WHERE member_idx = #{loginIdx} 
	</update>
	
	<select id="getPw" resultType="String">
		SELECT member_pw FROM member WHERE member_idx = #{param1}
	</select>

	<update id="pwUpdate">
		UPDATE 
			member 
		SET member_pw = #{param1}
			WHERE member_idx = #{param2} 
	</update>
	
	<update id="leave">
		UPDATE 
			member 
		SET member_state = '탈퇴'
			WHERE member_idx = #{param} 
	</update>
	
	<select id="getProfileInfo" resultType="hashMap">
		SELECT member_nickname, code_idx FROM member WHERE member_idx = #{param} 
	</select>
	
	<select id="getRegion" resultType="String">
		SELECT code_codename FROM code WHERE code_code = #{param} AND code_upcode = 'region'
	</select>
	
	<select id="reviewList" resultType="hashMap">
		SELECT 
			(SELECT member_nickname FROM member WHERE member_idx = sender_idx) AS member_nickname, 
			sender_idx As member_idx,
			review_content, 
			review_date
		FROM review r
			WHERE reciever_idx = #{member_idx}	
				AND review_type = 0 AND review_blind = 0 
			ORDER BY review_date DESC LIMIT 5 OFFSET #{offset};
	</select>
	
	
	
	
	
	
	
	
	
	
</mapper>